<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suitecrossplatform" parallel="tests">
<test thread-count="5" name="edgeclass">
  <parameter name="browser" value="edgeclass">
    <classes>
      <class name="practice.crossBrowserBase"/>
      </classes>
      </parameter>
      </test><!--Test-->
      <test thread-count="5" name="firefoxclass">
  <parameter name="browser" value="firefox">
    <classes>
      <class name="practice.crossBrowserBase"/>
      </classes>
      </parameter>
      </test><!--Test-->
      
      <test thread-count="5" name="chromeclass">
  <parameter name="browser" value="chrome">
    <classes>
           <class name="practice.crossBrowserBase"/>

      </classes>
      </parameter>
      </test><!--Test-->
      
  
</suite> <!-- Suitecrossplatform -->
